.select-budget {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.budget-group {
    margin-bottom: 2.5rem;
}


.budget-group-header {
    background-color: var(--tabcolor);
    display: grid;
    text-transform: uppercase;
    font-weight: bold;
    grid-template-columns: auto 150px 100px 32px;
    border-bottom: 3px solid var(--tabcolor);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}
.budget-group-header__column {
    padding-left: 20px;
}

.budget-item-row {
    display: grid;
    background-color: #FFFFFF;
    grid-template-columns: auto 150px 100px 32px 5px;
    border-bottom: 1px solid var(--backgroundcolor);
    cursor: pointer;
}

.budget-item-row:hover{
    background-color: rgba(139, 253, 215, 0.274) !important;
}

#budget input[type=text], #budget input[type=number], #budget textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: inherit;
    margin: 0;

    background-color: transparent;
    outline: none;
}

#budget input[type=number] {
    -moz-appearance: textfield;
}

#budget input::-webkit-outer-spin-button,
#budget input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#budget form :focus {
    box-shadow: 3px 3px var(--navhover);
    background-color: rgba(139, 253, 215, 0.274);
}

.budget-group-header__tab {
    display: inline;
    padding: 0.3em 1.5em;
}

.budget-group__footer {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom: 1px solid var(--tabcolor);
    padding: 12px 20px;
    margin: 0;
    background-color: white;
}

.budget-group__add-button{
    border-bottom-left-radius: inherit;
    border: none;
    width: 100%;
    background-color: transparent;
    height: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    outline: none;

}

.budget-group img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.budget-group__footer > div {
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
}

.budget-group__total-text {
    text-align: center;
}

#budget input[type=number], .budget-group__total-budget {
    text-align: right;
}

.budget-item-row__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delete-div {
    width: 0px;
    height: 41px;
    transition: 0.2s;
}

.img-delete {
    opacity: 0.2;
    width: 100%;
}

.img-delete__show {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.budget-group__settings img {
    height: 1.3rem;
}

.budget-group__settings {
    cursor: pointer;
}

.budget-group-settings__list {
    position: absolute;
    right: 32px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.budget-group-settings__list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: initial;
    font-weight: normal;
}

.budget-group-settings__list a:hover {
    background-color: #ddd
}