#cards-container, #colorgrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.small-card {
    background-color: white;
    display: inline-block;
    margin: 0.7rem;
    height: auto;
    width: 13rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.15);
}

.small-card dt {
    font-weight: bold;
}

.border-none {
    border-bottom: none !important;
}

.button-container {
    align-self: flex-end;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.delete-btn {
    background-color: var(--delete);
}
@media(max-width:499px){
    dl{
        display: none;
    }
    .small-card :hover + dl{
        display: block;
    }
}