#collection {
    
}


.collection-grid-container {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.collection-grid__column {
    display: inline-block;
    background-color: bisque;
    width: 170px;
    height: auto;
    padding: 5px 10px;
    margin: 5px;
    
   
}

.collection-column__rows-container {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.collection-grid__row {
    background-color: white;
    display: block;
}