#colorpicker {
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: var(--backgroundcolor);
    outline: none;
    height: 30px;
}


.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid var(--headercolor);
    background-color: rgba(224, 224, 224, 0.432);
    outline: none;
}
#add-color-div{
    width: 200px;
}
.color-card{
    height: 75px;
    width: 75px;
    text-align: center;
    padding: 10px;
    border-radius: 37.5px;
    margin:2px;
}