/*
Lauri css file
*/
#product-actions{
    display: block;
}

 #search-products-container{
     height: 50px;
 }

#search-products {
    width: 100%;
    display: grid;
    grid-template-columns:  1fr 4fr 35px;
}
.display-none {
    display: none;
}

.btn {
    border-radius: 10px;
    outline: none;
    background-color: var(--btncolor);
    color: var(--lighttext);
    height: 40px;
}
.search-img{
    width: auto;
    border-radius: 10px;
    outline: none;
}
