/*
Lauri css file
*/

#search-products-container{
    display: block;
    height: 1.5rem;
    padding: 0;
}

#search-products {
    display: flex;
    flex-direction: row;
    height: 1rem;
}

#search-products select {
    height: 50px;
}

#search-products input {
    width: 5rem;
}

.display-none {
    display: none;
}

.btn {
    border-radius: 10px;
    outline: none;
    background-color: var(--btncolor);
    color: var(--lighttext);
    height: 40px;
}
.search-btn{
    background-color: var(--info);
    width: 30px;
    height: 30px;
}

button .search-img {
    display: inline;
    width: 0.5rem;
    height: 0.5rem;
}

button .search-img img {
    width: 100%;
}
