@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bitter');
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


:root {
    --btncolor: #5a7ced;
    --headercolor: #3ee7df;
    --footercolor: #9d9e9c;
    --lighttext: #f7fff7;
    --darktext: #191d19;
    --backgroundcolor: #eeeeee;
    --navcolor: #090909;
    --navhover: #282828;
    --tabcolor: #57BC90;
    --delete: red;
    --info:rgb(0, 190, 0);
}

html {
    background-color: var(--backgroundcolor);
    height: 100%;
}

body {
    margin: 0;
    background-color: white;
    height: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 20% auto 70px;
    grid-template-areas: 
    "head    main" 
    "nav     main"
     "nav     footer";
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

header {
    background-color: var(--navcolor);
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: nav;
    padding-top: 1rem;
    background-color: var(--navcolor);
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    color: var(--lighttext);
    width: inherit;
}

nav ul li>a {
    display: block;
    justify-content: center;
    width: inherit;
    padding: 1em;
    color: #dfdfdf;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

nav ul li>a:hover {
    background-color: var(--navhover);
}

#project-logo {
    height: 80px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

main {
    grid-area: main;
    background-color: var(--backgroundcolor);
}

.content {
    padding: 2rem;
}

#sub-menu {
    background-color: var(--footercolor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--lighttext);
    margin: 0;
    list-style: none;
    border-top: solid var(--btncolor);
    border-bottom: solid var(--btncolor);
}

#sub-menu li a {
    display: block;
    justify-content: space-around;
    align-content: space-around;
    
    width: inherit;
    padding: 1em;
    color: #dfdfdf;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

footer {
    background-color: var(--footercolor);
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--lighttext);
}

footer p {
    font-size: 1rem;
}

.hidden {
    display: none!important;
}

.dropbtn {
    background-color: var(--navcolor);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li:hover {background-color: #f1f1f1}
.display{
    display: block;
}
/* .dropdown:hover .dropdown-content {
    display: block;
} */

.dropdown:hover .dropbtn {
    background-color: var(--navhover);
    
}
.brgmenu{
    width: 20px;
    height: auto;
}
.selected-collection{
    color: var(--headercolor);
    padding: 0em 1em;
    border-top: solid var(--btncolor);
}
#collection-form{
    display: flex;
    flex-wrap: wrap;
}
.collection-form-content{
    padding: 20px;
}
.card-style-input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid var(--headercolor);
    background-color: rgba(224, 224, 224, 0.432);
    outline: none;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}   

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media(max-width:499px){
    body {
        margin: 0;
        background-color: white;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "nav nav" 
        "main main"
         "footer footer";
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    nav, header{
        height: 75px;
    }
    nav ul {
        list-style: none;
        overflow: hidden;
        width: auto;
    }
    
    nav ul li{
        float: left;
       
    }
    header{
        display: none;
    }
    nav {
        background-color: var(--navcolor);
        /* text-transform: uppercase; */
        text-align: right;
        /* font-weight: bold; */
        /* letter-spacing: 0.15rem; */
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 200px;
    }
    
    nav ul li {
        color: var(--lighttext);
        width: inherit;
    }
    
    nav ul li>a {
        /* display: block; */
        justify-content: left;
        width: inherit;
        padding: 1em;
        color: var(--darktext);
        text-decoration: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    nav ul li>a:hover {
        background-color: var(--footercolor);
        transition: 0.15s;
    }
    
}


@media (min-width:500px) and (max-width:879px) {
    body {
        margin: 0;
        background-color: white;
        height: inherit;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "nav nav" 
        "main main"
         "footer footer";
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    nav, header{
        height: auto;
    }
    nav ul {
        list-style: none;
        overflow: hidden;
        width: auto;
    }
    
    nav ul li{
        float: left;
       
    }
    header{
        display: none;
    }
    .selected-collection{
        color: var(--headercolor);
        padding: 0em 1em;
        border-top: solid var(--btncolor);
        border-bottom: solid var(--btncolor);

    }
    
}