.budget-group {
    margin-bottom: 2.5rem;
}

.budget-group-header {
    display: grid;
    grid-template-columns: auto 100px 100px;
    border: 1px solid #022b3a;

}


.budget-item-row {
    display: grid;
    grid-template-columns: auto 100px 100px;
}



