@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bitter');
* {box-sizing: border-box;

    font-family: 'Raleway', sans-serif;

}
/*Emily css file*/
:root{
    --btncolor: #5a7ced;
    --headercolor: #3ee7df;
    --footercolor: #50514f;
    --lighttext: #f7fff7;
    --darktext: #191d19;
    --backgroundcolor: #FCFCFC;
    --navcolor: #042A2B;
    --navhover: #1A3D3E;
    --tabcolor: #5EB1BF;

}

html {
    background-color: var(--backgroundcolor);
    height: 100%;
}

body {
    margin: 0;
    background-color: white;
    height: inherit;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 80px auto 70px;
    grid-template-areas:
            "head    main"
            "nav     main"
            "nav     footer";
}


header {
    border: 1px solid dimgrey;
    background-color: var(--footercolor);
    grid-area: head;
}

nav {
    border: 1px solid dimgrey;
    display: block;
    grid-area: nav;
    background-color: var(--navcolor);
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    color: var(--lighttext);
}

nav ul li > a {
    display: block;
    padding: 1em;
    color: #dfdfdf;
    text-decoration: none;
}

nav ul li > a:hover {
    background-color: var(--navhover);
}

hr {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, var(--navcolor), var(--navhover), var(--navcolor));
    background-image: -moz-linear-gradient(left, var(--navcolor), var(--navhover), var(--navcolor));
    background-image: -ms-linear-gradient(left, var(--navcolor), var(--navhover), var(--navcolor));
    background-image: -o-linear-gradient(left, var(--navcolor), var(--navhover), var(--navcolor));
    padding: 0;
    margin: 0;
}


#project-logo {
    height: 70px;
}

main {
    grid-area: main;
    border: 1px solid dimgrey;
}

footer {
    background-color: var(--footercolor);
    grid-area: footer;
}

.hidden {
    display: none;
}
