/*
Lauri css file
*/

.main-grid-container {
    display: grid;
    height: auto;
    width: 100%;
    grid-gap: 6px;
    grid-template-areas: "t" "p" "e";
    /*align-content: space-between; */
    /*justify-content: space-around; */
}
#search-container{
    padding: 10px;
}
#card-search{
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

#main-product {
    grid-area: t;
}

#add-product {
    grid-area: p;
}

.display-none {
    display: none;
}

.btn {
    border-radius: 10px;
    outline: none;
    background-color: var(--btncolor);
    color: var(--lighttext);
    height: 40px;
}
.search-btn{
    background-color: var(--info)!important;
}
.src-img{
    width: 100%;
    height: auto;
    border-radius: 3px;
}
.src-img:hover{
    border: solid 2px var(--info);
}

@media (min-width:100px) and (max-width:659px) {
    #card-search{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: none;
        grid-template-areas: 
        "btn a b"
        "c c d";
        grid-gap: 5px;
    }
    #search{
        grid-area: btn;
    }
    #src-name{
        grid-area:a;
    }
    #src-type{
        grid-area:b;
    }
    #src-category{
        grid-area:c;
    }
    #src-tag{
        grid-area:d;
    }
    .src-img{
        width: 50px;
        height: 50px;
        border-radius: 3px;
    }

}